.custom_btn
{
    cursor: pointer;
    border: solid 1px #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 15px;
    background: #f2f2f2;
}

.custom_btn_gradient
{
    background: #f2f2f2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #eaeaea 34%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(34%,#eaeaea), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#eaeaea 34%,#e2e2e2 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#eaeaea 34%,#e2e2e2 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#eaeaea 34%,#e2e2e2 100%);
    background: linear-gradient(to bottom,  #f2f2f2 0%,#eaeaea 34%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e2e2e2',GradientType=0 );
}

.custom_btn_gradient:hover
{
    background: #feffe9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZlZmZlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGZmY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #feffe9 1%, #ffffff 24%, #fdffcc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#feffe9), color-stop(24%,#ffffff), color-stop(100%,#fdffcc));
    background: -webkit-linear-gradient(top,  #feffe9 1%,#ffffff 24%,#fdffcc 100%);
    background: -o-linear-gradient(top,  #feffe9 1%,#ffffff 24%,#fdffcc 100%);
    background: -ms-linear-gradient(top,  #feffe9 1%,#ffffff 24%,#fdffcc 100%);
    background: linear-gradient(to bottom,  #feffe9 1%,#ffffff 24%,#fdffcc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe9', endColorstr='#fdffcc',GradientType=0 );

}

.custom_btn:active
{
    background: #f2f2f2;
    -webkit-box-shadow: inset 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    inset 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         inset 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
}

.custom_btn:focus
{
    outline:none;
    border-color: #6d79b8;
}
.custom_btn_text{
   display: inline-block;
}
.custom_btn_img
{
    display: inline-block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
