@font-face {
    font-family: 'PTSans-Regular';
    src: url('fonts/PT_Sans-Web-Regular.eot');
    src: url('fonts/PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/PT_Sans-Web-Regular.woff') format('woff'),
    url('fonts/PT_Sans-Web-Regular.ttf') format('truetype'),
    url('fonts/PT_Sans-Web-Regular.svg#PTSans-Regular') format('svg');
}

.article{
    font-family: 'PTSans-Regular',sans-serif;
}

.article_header
{
    font-size: 2em;
    margin: 20px 0;
}

.article_header_half
{
    margin-right: 60%;
}

.article_column
{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-right: 5%;
}

.article_column_text
{
    text-indent: 5%;
    padding: 10px 0;
}

.article_list
{
    padding: 5px 0;
    list-style: none;
}

.article_list_item
{
    padding: 5px 0;
}

.article_list_item:before
{
    content: "‒";
    display: block;
    position: absolute;
    margin-left: -15px;
    text-decoration: none;
}

.article_list_item_link
{
    color: #267cee;
    text-decoration: underline;
}

.article_list_item_dotted
{
    border-bottom: dashed 1px black;
}