@font-face {
    font-family: 'PTSans-Regular';
    src: url('fonts/PT_Sans-Web-Regular.eot');
    src: url('fonts/PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/PT_Sans-Web-Regular.woff') format('woff'),
    url('fonts/PT_Sans-Web-Regular.ttf') format('truetype'),
    url('fonts/PT_Sans-Web-Regular.svg#PTSans-Regular') format('svg');
}

.article{
    font-family: 'PTSans-Regular',sans-serif;
    width: 1000px;
    background: url(http://img-fotki.yandex.ru/get/4714/2776.b/0_60613_ce753157_orig) no-repeat;
    padding: 7px 0 0 25px;
}

.article_header
{
    font-size: 24px;
    margin: 0 0 12px 0;
    line-height: 23px;
    letter-spacing: 0px;
    word-spacing: 1px;
}

.article_header_half
{
    margin-right: 65%;
}

.article_column
{
    display: inline-block;
    width: 375px;
    vertical-align: top;
    margin-right: 87px;
    line-height: 21px;
    word-spacing: -1px;
}

.article_column_text
{
    text-indent: 15px;
    padding: 10px 0;
}

.article_list
{
    padding: 11px 0;
    list-style: none;
}

.article_list_item
{

}

.article_list_item:before
{
    content: "—";
    display: block;
    position: absolute;
    margin-left: -15px;
    text-decoration: none;
}

.article_list_item_link
{
    color: #267cee;
    border-bottom: solid 1px #267cee;
}

.article_list_item_dotted
{
    border-bottom: dashed 1px black;
}