.browsers
{
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.browsers:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.browsers_image
{
    font-size: 0;
}

.browsers_browser
{
    width: 125px;
    height: 125px;
    float: left;
    overflow: hidden;
    text-align: center;
}

.browsers_noimage
{
    line-height: 1em;
    padding-top: 30px;
    text-align: center;
}

.browsers_noimage_2strings
{
    padding-top: 20px;
}

.browsers_noimage_green
{
    color: #22a12a;
}
.browsers_noimage_red
{
    color: #c90000;
}
.browsers_noimage_yellow
{
    color: #f9d411;
}
.browsers_noimage_orange
{
    color: #f2a414;
}

.browsers_noimage_red_opera
{
    color:#c10e0e;
}

.browsers_noimage_grey
{
    color: #646464;
}

.browsers_noimage_blue
{
    color: #036da3;
}

.browsers_browser_last
{
    float: right;
}


