.rating
{
    display: inline-block;
}

.rating:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.rating_item
{
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.rating_number
{
    margin-top: 20px;
    display: none;
}

.rating_image
{
    position: absolute;
    height: 100%;
    width: 100%;
}

.rating_radio
{
    float: right;
    margin-left: -20px;
    display: none;
}

.rating_radio:checked ~ .rating_item>.rating_image
{
    background-position: top;
}

.rating_item:hover > .rating_image
{
    background-position: top;
}

.rating_item:hover ~.rating_item>.rating_image
{
    background-position: top;
}

.rating_item:checked ~.rating_item>.rating_image:hover {
    background: black;
}